@page "/page"

@using WebDevelopment.Client.Components.UIElements
@using WebDevelopment.Shared.DTOs
@using WebDevelopment.Shared.Interfaces

@inject ICountryService CountryService
<div class="flex-container">
    <div class="main-content">
        <div class="main-content-wrapper">
            <Card>
                <ChildContent>
                    <div>CONTANER CONTANER CONTANER</div>
                    <div>CONTANER CONTANER CONTANER</div>
                    <div>CONTANER CONTANER CONTANER</div>
                </ChildContent>
            </Card>

            <Card>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
            </Card>
            <Card>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
            </Card>
            <Card>
                <ChildContent>
                    <div>CONTANER CONTANER CONTANER</div>
                    <div>CONTANER CONTANER CONTANER</div>
                    <div>CONTANER CONTANER CONTANER</div>
                </ChildContent>
            </Card>

            <Card>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
            </Card>
            <Card>
                <div class="cards-section-container-wraper">
                    <InfoRow Label="Label" Value="Value" FlexRow="true"></InfoRow>
                    <InfoRow Label="Label" Value="Value" FlexRow="true"></InfoRow>
                    <InfoRow Label="Label" Value="Value" FlexRow="true"></InfoRow>
                    <InfoRow Label="Label" Value="Value" FlexRow="true"></InfoRow>
                    <InfoRow Label="Label" Value="Value" FlexRow="true"></InfoRow>
                    <InfoRow Label="Label" Value="Value" FlexRow="true"></InfoRow>
                </div>
            </Card>
            <Card>
                <ChildContent>
                    <div>CONTANER CONTANER CONTANER</div>
                    <div>CONTANER CONTANER CONTANER</div>
                    <div>CONTANER CONTANER CONTANER</div>
                </ChildContent>
            </Card>

            <Card>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
            </Card>
            <Card>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
                <div>CONTANER CONTANER CONTANER</div>
            </Card>
        </div>
    </div>
</div>

<Container>

</Container>

<div class="col-lg-3 pt-4 pt-lg-0 mb-3">
    <ExpandableDetailsCard Title="Title1">
        <InfoRow Label="Label1" Value="Value1" />
        <InfoRow Label="Label1" Value="Value1" />
        <InfoRow Label="Label1" Value="Value1" />
        <InfoRow Label="Label1" Value="Value1" FlexRow="true" />
    </ExpandableDetailsCard>
</div>
<style>
    .main-content-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .default-card-style {
        min-height: 200px;
    }
</style>

@code {

}
