@page "/not-authorized"

<div style="height: 80vh ! important; display: flex; flex-direction: column; justify-content: center; align-items: center;">
	<div class="mb-2 fw-bold" style="font-size: 25px;">Acces restricționat.</div>
	<div style="font-size: 15px;">Acces interzis pentru a vizualiza această pagină..</div>
	<div style="font-size: 15px;">Nu aveți permisiunea necesară pentru a vizualiza această pagină..</div>
</div>
