@using WebDevelopment.Client.Interfaces

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IAuthService AuthService

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div style="background-image:url('background-img.jpg')">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                    <a href="/change-password">Change password</a>
                    <a class="log-out-button" @onclick="async () => await LogOut()">Log Out</a>
                </div>

                <div class="main-content">
                    <article class="content px-4">
                        @Body
                    </article>
                </div>
            </main>
        </div>

        <div id="blazor-error-ui" data-nosnippet>
            An unhandled error has occurred.
            <a href="." class="reload">Reload</a>
            <span class="dismiss">🗙</span>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {

    private async Task LogOut()
    {
        await AuthService.LogOut();
    }
}

<style>
    .log-out-button:hover {
        cursor: pointer;
    }
</style>
