@* <div class="d-flex justify-content-center align-items-center spinner-overlay" style="height: 100vh; gap:10px;">
    <div style="height: 100vh ! important; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="mb-2 fw-bold" style="font-size: 25px;">Loading...</div>
    </div>
    <i class="fa-solid fa-spinner fa-spin fa-2x" style="color: #7387ac;"></i>
</div> *@



<div class="d-flex justify-content-center align-items-center spinner-overlay" style="height: 100vh;">
    @* <div class="spinner-border text-primary" style="width: 80px;height: 80px;border: 10px solid #ccc;border-top-color: #007bff;border-radius: 50%;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div> *@
    <i class="fa-solid fa-spinner fa-spin fa-5x" style="color: #7387ac;"></i>
</div>

<style>

    .spinner-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
    }
</style>
