<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: cadetblue;">
            <i class="fa-solid fa-globe"></i>
            WebDevelopment
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="list-page">
                <span class="bi bi-box-fill-nav-menu" aria-hidden="true"></span> List Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="oninput-validation">
                <span class="bi bi-box-fill-nav-menu" aria-hidden="true"></span> OnInputValidation
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .nav-scrollable::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .nav-scrollable[b-kcgvcpsz22] {
        height: 100vh;
    }
</style>

